#profpic {
    margin-top: 5px;
    border-radius: 50%;
    width: 300px;
    height: 300px;

}

#topprof {

    color: gray;
    align-content: center;
    text-align: center;
    text-shadow: 2px, 2px, black;
    border: solid 1px silver;
}

#botprof {
    border: solid 1px silver;
    align-content: center;
    text-align: center;
}

.follow {
    display: inline-block;
}

#followB {
    display: block;
    margin-left: 45%;
    background-color:  #2b7afc;
    border: 1px solid  #2b7afc;
    color: white;
}